extends ../layout

block content
  h1 Your Tasks
  if (typeof flash !== 'undefined')
    include ../mixins/flash-messages
    mixin flash-messages(flash)
  if (docs.length)
    table
      tr
        th(colspan='3') Tasks
      each task in docs
        tr
          td= task.task
          td: a.btn(href="/tasks/#{task.id}/edit") Edit
          td
            form(method='post', action='/tasks/' + task.id)
              input(name='_method', value='DELETE', type='hidden')
              button.btn.btn-danger(type='submit') Delete
  else
    p You don't have any tasks. Lucky you.
  p
    a.btn.primary(href='/tasks/new') Add a Task