extends ../layout

block content
  h1 Create a task
  if (typeof flash !== 'undefined')
    include ../mixins/flash-messages
    mixin flash-messages(flash)
  form(method='post',action="/tasks")
    fieldset
      legend Add a task
     div.clearfix
      label Task
      div.input
        input.xlarge(name='task[task]')
      label Details
      div.input
        textarea(name='task[details]')
      div.actions
        input.btn.primary(type='submit', value='Save')
        a.btn.primary(href='/tasks') Cancel