extends ../layout

block content
  h1 Create a task
  if (typeof flash !== 'undefined')
    include ../mixins/flash-messages
    mixin flash-messages(flash)
  form(method='post',action="/tasks")
    include ../mixins/task-fields
    mixin task-fields(task, 'Add a task')